<!-- // Copyright 2015 Richard Wisniewski -->
<md-dialog aria-label="Error"  ng-cloak>
	<form name="captchaForm" ng-submit="captchaForm.$valid && finish()">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h1>{{ "CAPTCHA.TITLE" | translate }}</h1>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				<img ng-src="/v1/captcha/{{id}}.png" />
				<p style="color: red;" ng-if="error != ''">{{ error | translate }}</p>
				<md-input-container>
					<label>{{ "CAPTCHA.INPUT" | translate }}</label>
					<input ng-model="text" name="text" required></input>
					<div ng-messages="captchaForm.text.$error" role="alert" ng-if="!captchaForm.text.$untouched">
						<div ng-message="required">{{ "GENERAL.FORM.ERROR.REQUIRED_FIELD" | translate }}</div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<md-button type="submit">
				OK
			</md-button>
		</div>
	</form>
</md-dialog>
