/* Copyright 2015 Richard Wisniewski */
.tall-bar-content {
	padding-top: 0px;
	margin-top: -72px;
}

@media only screen and (min-width: 0) and (max-width: 600px) and (orientation: portrait) {
	.tall-bar-content {
		margin-top: -64px;
	}
}
@media only screen and (min-width: 0) and (max-width: 600px) and (orientation: landscape) {
	.tall-bar-content {
		margin-top: -56px;
	}
}

.address {
	padding: 0px;
	margin: 0px;
	margin-top: -8px;
}
