<md-card id="login" ng-if="!login.isSignup" style="max-width: 25em; margin-left: auto; margin-right: auto;">
	<md-card-content>
		<div layout="column">
			<md-input-container>
				<label>Username</label>
				<input ng-model="login.username"></input>
			</md-input-container>
			<md-input-container>
				<label>Password</label>
				<input ng-model="login.password" type="password"></input>
			</md-input-container>
        </div>
	</md-card-content>
	<div layout="row" layout-align="space-between center" class="md-actions">
		<div layout="row" layout-align="start center">
			<md-button class="md-button" aria-label="Sign Up" ng-click="login.togleSignup()">
				Sign Up
			</md-button>
		</div>
		<div layout="row" layout-align="end center">
			<md-button class="md-button md-primary" aria-label="Sign Up" ng-click="login.login()">
				Login
			</md-button>
		</div>
	</div>
</md-card>

<md-card ng-if="login.isSignup">

</md-card>