<div ng-if="!login.isSignup">
	<md-card id="login" style="max-width: 25em; margin-left: auto; margin-right: auto;">
		<md-card-content>
			<div layout="column">
				<md-input-container>
					<label>Username</label>
					<input ng-model="login.username"></input>
				</md-input-container>
				<md-input-container>
					<label>Password</label>
					<input ng-model="login.password" type="password"></input>
				</md-input-container>
			</div>
		</md-card-content>
		<div layout="row" layout-align="end center">
			<md-button class="md-button md-primary" aria-label="Sign Up" ng-click="login.login()">
				Login
			</md-button>
		</div>
	</md-card>
	
	<md-card style="max-width: 25em; margin-left: auto; margin-right: auto;" layout="row" layout-align="space-between center">
		<md-card-content>
			<p>Not a user yet?</p>
		</md-card-content>
		<md-button class="md-button md-primary" aria-label="Sign Up" ng-click="login.togleSignup()">
			Sign Up
		</md-button>
	</md-card>
</div>

<div ng-if="login.isSignup">
	<md-card id="login" style="max-width: 25em; margin-left: auto; margin-right: auto;">
		<md-card-content>
			<div layout="column">
				<md-input-container>
					<label>Username</label>
					<input ng-model="login.username"></input>
				</md-input-container>
				<md-input-container>
					<label>Password</label>
					<input ng-model="login.password" type="password"></input>
				</md-input-container>
			</div>
		</md-card-content>
		<div layout="row" layout-align="end center">
			<md-button class="md-button md-primary" aria-label="Sign Up" ng-click="login.signup()">
				Sign Up
			</md-button>
		</div>
	</md-card>
	
	<md-card style="max-width: 25em; margin-left: auto; margin-right: auto;"  layout="row" layout-align="space-between center">
		<md-card-content>
			<p>Already a member?</p>
		</md-card-content>
		<md-button class="md-button md-primary" aria-label="Sign Up" ng-click="login.togleSignup()">
			Login
		</md-button>
	</md-card>
</div>