<!-- // Copyright 2015 Richard Wisniewski -->
<md-toolbar>
	<div class="md-toolbar-tools">
		<h1 id="title">
			<span>{{ login.title  | translate}}</span>
		</h1>

		<!-- central gap -->
		<span flex=""></span>
	</div>
</md-toolbar>
<md-toolbar class="md-warn md-toolbar-tools" ng-if="toolbar.warn.exists">
	<p>{{ login.warn.prefix | translate}}: {{ login.warn.message | translate }}</p>
</md-toolbar>

<md-content id="content" class="md-padding">

	<div ng-if="login.loading" style="position: absolute; z-index: 12; width: 40px; height: 40px; top: 3em; left: 50%; margin-left: -20px; border-color: #f0f0f0; border-style: solid; border-width: 1px; border-radius: 20px; background-color: white;">
		<md-progress-circular md-diameter="20px" md-mode="indeterminate" style="margin-top: -30px; margin-left: -30px;"></md-progress-circular>
	</div>
	<div style="max-width: 25em; margin-left: auto; margin-right: auto;">
		<div ng-if="!login.isSignup">
			<md-card id="login">
				<form name="loginForm" ng-submit="login.login()">
					<md-card-content layout="column">
						<md-input-container>
							<label>{{ "GENERAL.USERNAME_EMAIL" | translate }}</label>
							<input ng-model="login.username" type="text" name="username" ng-disabled="loading.is" required></input>
							<div ng-messages="loginForm.username.$error" role="alert" ng-if="!loginForm.username.$untouched">
								<div ng-message="required">{{ "GENERAL.FORM.ERROR.REQUIRED_FIELD" | translate }}</div>
							</div>
						</md-input-container>
						<md-input-container>
							<label>{{ "GENERAL.PASSWORD" | translate }}</label>
							<input ng-model="login.password" name="password" type="password" ng-disabled="loading.is"required></input>
							<div ng-messages="loginForm.password.$error" role="alert" ng-if="!loginForm.password.$untouched">
								<div ng-message="required">{{ "GENERAL.FORM.ERROR.REQUIRED_FIELD" | translate }}</div>
							</div>
						</md-input-container>
						<div style="clear:both;"></div>
					</md-card-content>
					<div layout="row" layout-align="end center">
						<md-button id="login-button"class="md-button md-primary" ng-disabled="loading.is || (loginForm.$invalid && loginForm.$dirty)" aria-label="Sign Up">
							{{ "LOGIN.LOGIN.LOGIN" | translate }}
						</md-button>
					</div>
				</form>
			</md-card>

			<md-card layout="row" layout-align="space-between center">
				<md-card-content>
					<p>{{ "LOGIN.SIGNUP.NOT_A_USER" | translate }}</p>
				</md-card-content>
				<md-button class="md-button md-primary" aria-label="Sign Up" ng-disabled="loading.is" ng-click="login.togleSignup()">
					{{ "LOGIN.SIGNUP.SIGNUP" | translate }}
				</md-button>
			</md-card>
		</div>

		<div ng-if="login.isSignup">
			<md-card id="signup">
				<form name="signupForm" ng-submit="login.signup($event)">
					<md-card-content layout="column">
						<md-input-container>
							<label>{{ "GENERAL.USERNAME" | translate }}</label>
							<input ng-model="login.username" type="text" name="username" ng-disabled="loading.is" required xreg-pattern="^[0-9_\-\pL]+$"></input>
							<div ng-messages="signupForm.username.$error" role="alert" ng-if="!signupForm.username.$untouched">
								<div ng-message="required">{{ "GENERAL.FORM.ERROR.REQUIRED_FIELD" | translate }}</div>
								<div ng-message="xregPattern">{{  }}</div>
							</div>
						</md-input-container>
						<md-input-container>
							<label>{{ "GENERAL.EMAIL" | translate }}</label>
							<input ng-model="login.email" name="email" type="email" ng-change="signupForm.confirmEmail.$validate();" ng-disabled="loading.is" xreg-pattern="^.+@.+\..+$" required></input>
							<div ng-messages="signupForm.email.$error" role="alert" ng-if="!signupForm.email.$untouched">
								<div ng-message="required">{{ "GENERAL.FORM.ERROR.REQUIRED_FIELD" | translate }}</div>
								<div ng-message="xregPattern">That is not a valid email address.</div>
							</div>
						</md-input-container>
						<md-input-container>
							<label>{{ "LOGIN.SIGNUP.CONFIRM_EMAIL" | translate }}</label>
							<input ng-model="login.confirmEmail" name="confirm_email" type="email" data-match="signupForm.email" ng-disabled="loading.is" xreg-pattern="^.+@.+\..+$" required></input>
							<div ng-messages="signupForm.confirm_email.$error" role="alert" ng-if="!signupForm.confirm_email.$untouched">
								<div ng-message="required">{{ "GENERAL.FORM.ERROR.REQUIRED_FIELD" | translate }}</div>
								<div ng-message="xregPattern">That is not a valid email address.</div>
								<div ng-message="match">{{ "LOGIN.SIGNUP.CONFIRM_EMAIL_NO_MATCH" | translate }}</div>
							</div>
						</md-input-container>
						<md-input-container>
							<label>{{ "GENERAL.PASSWORD" | translate }}</label>
							<input ng-model="login.password" type="password" name="password" ng-change="signupForm.confirmPassword.$validate();" ng-disabled="loading.is" required></input>
							<div ng-messages="signupForm.password.$error" role="alert" ng-if="!signupForm.password.$untouched">
								<div ng-message="required">{{ "GENERAL.FORM.ERROR.REQUIRED_FIELD" | translate }}</div>
							</div>
						</md-input-container>
						<md-input-container>
							<label>{{ "LOGIN.SIGNUP.CONFIRM_PASSWORD" | translate }}</label>
							<input ng-model="login.confirmPassword" name="confirm_password" data-match="signupForm.password" type="password" ng-disabled="loading.is" required></input>
							<div ng-messages="signupForm.confirm_password.$error" role="alert" ng-if="!signupForm.confirm_password.$untouched">
								<div ng-message="required">{{ "GENERAL.FORM.ERROR.REQUIRED_FIELD" | translate }}</div>
								<div ng-message="match">{{ "LOGIN.SIGNUP.CONFIRM_PASSWORD_NO_MATCH" | translate }}</div>
							</div>
						</md-input-container>
						<div style="clear:both;"></div>
					</md-card-content>
					<div layout="row" layout-align="end center">
						<md-button id="signup-button" class="md-button md-primary" ng-disabled="loading.is || (signupForm.$invalid && signupForm.$dirty)" aria-label="Sign Up">
							{{ "LOGIN.SIGNUP.SIGNUP" | translate }}
						</md-button>
					</div>
				</form>
			</md-card>

			<md-card layout="row" layout-align="space-between center">
				<md-card-content>
					<p>{{ "LOGIN.SIGNUP.ALREADY_USER" | translate }}</p>
				</md-card-content>
				<md-button class="md-button md-primary" aria-label="Sign Up" ng-disabled="loading.is" ng-click="login.togleSignup()">
					{{ "LOGIN.LOGIN.LOGIN" | translate }}
				</md-button>
			</md-card>
		</div>
	</div>
</md-content>
