<!-- side bar -->
<md-sidenav class="site-sidenav md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('get-sm')" ng-if="sidenav.exists">
	<md-toolbar>
		<!-- sidenav toolbar (should be like on android) -->
	</md-toolbar>
	
	<md-lisit>
		<md-list-item ng-repeat="sni in sidenav.items">
			<md-button ng-click="sni.click()" ng-class="{'selected' : it === sidenav.selected}">
				<md-icon md-svg-icon="{{sni.icon}}"></md-icon>
			</md-button>
		</md-list-item>
	</md-lisit>
</md-sidenav>

<!-- toolbar -->
<md-toolbar ng-if="toolbar.exists" class="md-toolbar-tools">
	<md-button ng-if="sidenav.exists" class="md-icon-button" aria-label="Settings">
		<md-icon md-svg-icon="assets/svg/menu.svg"></md-icon>
	</md-button>
	
	<h1 id="title">
		<span>{{ toolbar.title  | translate}}</span>
	</h1>
	
	<!-- central gap -->
	<span flex=""></span>
	
	<span ng-repeat="b in toolbar.buttons">
		<md-button class="md-icon-button" ng-attr-aria-label="{{ b.label }}" ng-click="toolbar.onclick($index)">
			<md-icon md-svg-icon="{{ b.img_src }}"></md-icon>
		</md-button>
	</span>
	<md-button ng-if="expandMenu.exists" class="md-icon-button" aria-label="More">
		<md-icon md-svg-icon="assets/svg/more_vert.svg"></md-icon>
	</md-button>
</div></md-toolbar>