<!-- // Copyright 2015 Richard Wisniewski -->
<md-dialog aria-label="Create Group"  ng-cloak>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<h1>{{ title | translate }}</h1>
		</div>
	</md-toolbar>

	<form ng-if="!loading" id="passwordForm">
		<md-dialog-content style="max-width: 150mm; max-height: 100mm;">
			<div class="md-dialog-content">
				<md-input-container>
					<label>Old Password</label>
					<input name="oldPassword" data-match data-no-match="passwordForm.newPassword0" ng-model="password.oldPassword" type="password" required/>
				</md-input-container>
				<md-input-container>
					<label>New Password</label>
					<input name="newPassword0" ng-model="password.newPassword[0]" data-match="passwordForm.newPassword1" data-no-match="passwordForm.oldPassword" type="password" required/>
				</md-input-container>
				<md-input-container>
					<label>Confirm Password</label>
					<input name="newPassword1" ng-model="password.newPassword[1]" type="password" data-match="passwordForm.newPassword0" required/>
				</md-input-container>
			</div>
		</md-dialog-content>

		<div class="md-actions" layout="row">
			<md-button ng-click="password.cancel()">
				Cancel
			</md-button>
			<md-button ng-click="password.create()">
				Create
			</md-button>
		</div>
	</form>

	<div ng-if="loading" ng-include="'src/loader.html'" style="z-index: 12; width: 100%; height: 100%;"></div>
</md-dialog>
