<!-- // Copyright 2015 Richard Wisniewski -->
<md-dialog aria-label="Change Password"  ng-cloak>
	<form  name="passwordForm" ng-submit="passwordForm.$valid && password.change()">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h1>{{ title | translate }}</h1>
			</div>
		</md-toolbar>
		<md-dialog-content style="max-width: 150mm; max-height: 100mm;">
			<div class="md-dialog-content" layout="column">
				<p style="color: red;" ng-if="error != ''">{{ error | translate }}</p>
				<div layout="row" layout-sm="column">
					<md-input-container>
						<label>{{ "USER.CHANGE_PASSWORD.OLD_PASSWORD" | translate }}</label>
						<input name="oldPassword" ng-model="password.oldPassword" type="password" required/>
						<div ng-messages="passwordForm.oldPassword.$error" role="alert" ng-if="!passwordForm.oldPassword.$untouched">
							<div ng-message="required">{{ "GENERAL.FORM.ERROR.REQUIRED_FIELD" | translate }}</div>
						</div>
					</md-input-container>
					<div layout="column">
						<md-input-container>
							<label>{{ "USER.CHANGE_PASSWORD.NEW_PASSWORD" | translate }}</label>
							<input name="newPassword0" ng-model="password.newPassword[0]" data-anti-match="passwordForm.oldPassword" type="password" required/>
							<div ng-messages="passwordForm.newPassword0.$error" role="alert" ng-if="!passwordForm.newPassword0.$untouched">
								<div ng-message="required">{{ "GENERAL.FORM.ERROR.REQUIRED_FIELD" | translate }}</div>
							</div>
						</md-input-container>
						<md-input-container>
							<label>{{ "USER.CHANGE_PASSWORD.CONFIRM" | translate }}</label>
							<input name="newPassword1" ng-model="password.newPassword[1]" type="password" data-match="passwordForm.newPassword0" required/>
							<div ng-messages="passwordForm.newPassword1.$error" role="alert" ng-if="!passwordForm.newPassword1.$untouched">
								<div ng-message="required">{{ "GENERAL.FORM.ERROR.REQUIRED_FIELD" | translate }}</div>
							</div>
						</md-input-container>
					</div>
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<md-button type="button" ng-click="password.cancel()">
				{{ "GENERAL.FORM.RESPONSE.CANCEL" | translate }}
			</md-button>
			<md-button type="submit">
				{{ "GENERAL.FORM.RESPONSE.CHANGE" | translate }}
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
