<!-- // Copyright 2015 Richard Wisniewski -->
<md-dialog aria-label="Change Password"  ng-cloak>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<h1>{{ title | translate }}</h1>
		</div>
	</md-toolbar>

	<div ng-if="!loading">
		<form  name="passwordForm" ng-submit="password.change()">
			<md-dialog-content style="max-width: 150mm; max-height: 100mm;">
				<div class="md-dialog-content">
					<md-input-container>
						<label>Old Password</label>
						<input name="oldPassword" ng-model="password.oldPassword" type="password" required/>
					</md-input-container>
					<md-input-container>
						<label>New Password</label>
						<input name="newPassword0" ng-model="password.newPassword[0]" data-anti-match="passwordForm.oldPassword" type="password" required/>
					</md-input-container>
					<md-input-container>
						<label>Confirm Password</label>
						<input name="newPassword1" ng-model="password.newPassword[1]" type="password" data-match="passwordForm.newPassword0" required/>
					</md-input-container>
				</div>
			</md-dialog-content>
			<div style="clear: both;"></div>
			<md-button type="submit" ng-show="false">
				Submit
			</md-button>
		</form>

		<div class="md-actions" layout="row">
			<md-button ng-click="password.cancel()">
				Cancel
			</md-button>
			<md-button ng-click="password.change()">
				Change
			</md-button>
		</div>
	</div>

	<div ng-if="loading" style="width: 100px; height: 100px margin-top: 1.5em; margin-left: auto; margin-right: auto; margin-bottom: 1.5em;">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
</md-dialog>
