<!-- // Copyright 2015 Richard Wisniewski -->
<md-dialog aria-label="Subscriptions" ng-cloak>
	<form  name="subsForm" ng-submit="subs.submit()">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h1>{{ title | translate }}</h1>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				<table>
					<tr ng-repeat="address in subs.addresses">
						<td>
							<md-checkbox ng-model="address.is" aria-label="subscribe with this address" style="margin-bottom: 0px;">
								{{address.address}}
							</md-checkbox>
						</td>
						<td style="font-weight:bold; transform: uppercase;">{{address.medium}}</td>
					</tr>
				</table>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button type="button" ng-click="cancel()">
				Cancel
			</md-button>
			<md-button type="submit">Sumbit</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
