<!-- // Copyright 2015 Richard Wisniewski -->
<md-dialog aria-label="New Address"  ng-cloak>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<h1>{{ title | translate }}</h1>
		</div>
	</md-toolbar>

	<div ng-if="!loading">
		<form ng-submit="address.create()">
			<md-dialog-content style="max-width: 150mm; max-height: 100mm;">
				<div class="md-dialog-content">
					<md-input-container>
						<label>Medium</label>
						<md-select ng-model="address.medium">
							<md-option ng-repeat="medium in address.mediums" ng-value="$index">
								{{ medium.name }}
							</md-option>
						</md-select>
					</md-input-container>
					<md-input-container>
						<label>Address</label>
						<input ng-model="address.address" ng-attr-type="address.mediums[0].type" />
					</md-input-container>
				</div>
			</md-dialog-content>
			<div style="clear: both;"></div>
			<md-button type="submit" ng-show="false">
				Submit
			</md-button>
		</form>

		<div class="md-actions" layout="row">
			<md-button ng-click="address.cancel()">
				Cancel
			</md-button>
			<md-button ng-click="address.create()">
				Create
			</md-button>
		</div>
	</div>

	<div ng-if="loading" style="width: 100px; height: 100px margin-top: 1.5em; margin-left: auto; margin-right: auto; margin-bottom: 1.5em;">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
</md-dialog>
