<!-- // Copyright 2015 Richard Wisniewski -->
<md-dialog aria-label="New Address"  ng-cloak style="position: relative;">
	<form name="newAddressForm" ng-submit="newAddressForm.$valid && address.create()">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h1>{{ title | translate }}</h1>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content" layout="row">
				<md-input-container>
					<label>{{ "USER.NEW_ADDRESS.MEDIUM" | translate }}</label>
					<md-select name="type" ng-model="address.medium">
						<md-option ng-repeat="medium in address.mediums" ng-value="$index">
							{{ "GENERAL.MEDIUMS." + medium | translate }}
						</md-option>
					</md-select>
				</md-input-container>
				<md-input-container ng-if="address.medium_type() == 'email'">
					<label>{{ "USER.NEW_ADDRESS.ADDRESS" | translate }}</label>
					<input name="email" ng-model="address.email_address" type="email" ng-required="address.medium_type() == 'email'" />
				</md-input-container>
				<md-input-container ng-if="address.medium_type() == 'tel'">
					<label>{{ "USER.NEW_ADDRESS.ADDRESS" | translate }}</label>
					<input name="tel" ng-model="address.tel_address" xreg-pattern="[0-9\-\+\(\)\s]+" type='tel' ng-required="address.medium_type() == 'tel'" />
				</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<md-button type="button" ng-click="address.cancel()">
				{{ "GENERAL.FORM.RESPONSE.CANCEL" | translate }}
			</md-button>
			<md-button type="submit" ng-disable="loading || (newAddressForm.$invalid && newAddressForm.$dirty)">
				{{ "GENERAL.FORM.RESPONSE.ADD" | translate }}
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
