<!-- // Copyright 2015 Richard Wisniewski -->
<md-dialog aria-label="New Address"  ng-cloak>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<h1>{{ title | translate }}</h1>
		</div>
	</md-toolbar>

	<div>
		<div ng-if="loading" style="width: 100px; height: 100px margin-top: 1.5em; margin-left: auto; margin-right: auto; margin-bottom: 1.5em;">
			<md-progress-circular md-mode="indeterminate"></md-progress-circular>
		</div
		
		<form name="newAddressForm" ng-submit="address.create()">
			<md-dialog-content style="max-width: 150mm; max-height: 100mm;">
				<div class="md-dialog-content">
					<md-input-container>
						<label>{{ "USER.NEW_ADDRESS.MEDIUM" | translate }}</label>
						<md-select ng-model="address.medium">
							<md-option ng-repeat="medium in address.mediums" ng-value="$index">
								{{ "GENERAL.MEDIUMS." + medium.name | translate }}
							</md-option>
						</md-select>
					</md-input-container>
					<md-input-container ng-if="addresses.mediums[addresses.medium].type == 'email'">
						<label>{{ "USER.NEW_ADDRESS.ADDRESS" | translate }}</label>
						<input ng-model="address.address" type="email" required/>
					</md-input-container>
					<md-input-container ng-if="addresses.mediums[addresses.medium].type == 'email'">
						<label>{{ "USER.NEW_ADDRESS.ADDRESS" | translate }}</label>
						<input ng-model="address.address" type='tel' required/>
					</md-input-container>
				</div>
			</md-dialog-content>
			<div style="clear: both;"></div>
			<md-button type="submit" ng-show="false">
				Submit
			</md-button>
		</form>

		<div class="md-actions" layout="row">
			<md-button ng-click="address.cancel()">
				{{ "GENERAL.FORM.RESPONSE.CANCEL" | translate }}
			</md-button>
			<md-button ng-click="address.create()" ng-disable="loading || (newAddressForm.$invalid && newAddressForm.$dirty)">
				{{ "GENERAL.FORM.RESPONSE.ADD" | translate }}
			</md-button>
		</div>
	</div>
</md-dialog>
