<!-- // Copyright 2015 Richard Wisniewski -->
<md-dialog aria-label="New Group"  ng-cloak>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<h1>{{ title | translate }}</h1>
		</div>
	</md-toolbar>

	<div ng-if="!loading">
		<form ng-submit="group.create()">
			<md-dialog-content style="max-width: 150mm; max-height: 100mm;">
				<div class="md-dialog-content">
					<p style="color: red;" ng-if="error != ''">{{ error | translate }}</p>
					<md-input-container>
						<label>{{ "USER.NEW_GROUP.GROUP_NAME"}}</label>
						<input ng-model="group.name" type="text" />
					</md-input-container>
				</div>
			</md-dialog-content>
			<div style="clear: both;"></div>
			<md-button type="submit" ng-show="false">
				Submit
			</md-button>
		</form>

		<div class="md-actions" layout="row">
			<md-button ng-click="group.cancel()">
				{{ "GENERAL.FORM.RESPONSE.CANCEL" | translate }}
			</md-button>
			<md-button ng-click="group.create()">
				{{ "GENERAL.FORM.RESPONSE.CREATE" | translate }}
			</md-button>
		</div>
	</div>

	<div ng-if="loading" style="width: 100px; height: 100px margin-top: 1.5em; margin-left: auto; margin-right: auto; margin-bottom: 1.5em;">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
</md-dialog>
