<!-- // Copyright 2015 Richard Wisniewski -->
<div layout="row" layout-wrap style="max-width: 31cm; margin-left: auto; margin-right: auto;">

<div flex="50" flex-sm="100">
<md-card id="user">
	<md-toolbar class="md-toolbar-tools">
		<h1 ng-if="user.info.username == ''">{{user.info.title | translate }}</h1>
		<h1 ng-if="user.info.username != ''">{{user.info.username }}</h1>
		<!-- central gap -->
		<span flex=""></span>
		<md-menu>
			<md-button aria-label="menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)" >
				<md-icon md-svg-src="assets/svg/more_vert.svg"></md-icon>
			</md-button>
			<md-menu-content>
				<md-menu-item>
					<md-button aria-label="delete account" ng-click="user.delete()">
						{{ "USER.DELETE" | translate }}
					</md-button>
				</md-menu-item>
				<md-menu-item>
					<md-button aria-label="change password" ng-click="user.info.changePassword(originalEvent)">
						{{ "USER.CHANGE_PASSWORD" | translate }}
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</md-toolbar>

	<md-card-content style="padding-right: 0;">
		<div layout="row" layout-align="space-between center">
			<h3 style="margin-bottom: 0;">Contact Addresses</h3>
			<md-button class="md-button md-primary" aria-label="change" ng-click="user.info.newAddress($event)">
				New
			</md-button>
		</div>
		<ul style="list-style: none; padding: 0; margin: 0;">
			<li ng-repeat="address in user.info.addresses">
				<p ng-if="address.loading">Saving...</p>
				<div ng-if="!address.loading">
					<div ng-if="!address.editing" layout="row" layout-align="space-between center">
						<p><span style="font-weight: bold;">{{address.medium | translate}}:</span>  {{address.address}}</p>
						<md-button class="md-button md-primary" aria-label="change" ng-click="user.info.edit_address($index)">
							{{ "USER.EMAIL_CHANGE" | translate }}
						</md-button>
					</div>
					<form ng-if="address.editing" name="editAddressForm">
						<md-input-container style="padding-right: 1em;">
							<label>{{ address.medium | translate }}</label>
							<input name="address" ng-model="address.new_address" type="text" focus-on="edit_address" ng-blur="user.info.save_edit_address($index)" require ></input>
						</md-input-container>
					</form>
				</div>
			</li>
		</ul>
	</md-card-content>
</md-card>
</div>

<div flex="50" flex-sm="100">
<md-card id="groups">
	<md-toolbar class="md-toolbar-tools">
		<h1 style="padding-left: .5em; padding-bottom: 0em; margin-bottom: 0em;">{{ "GROUPS" | translate }}</h1>
		<!-- central gap -->
		<span flex=""></span>
		<md-menu>
			<md-button aria-label="menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)" >
				<md-icon md-svg-src="assets/svg/more_vert.svg"></md-icon>
			</md-button>
			<md-menu-content>
				<md-menu-item>
					<md-button aria-label="Join">
						Join Group
					</md-button>
				</md-menu-item>
				<md-menu-item>
					<md-button aria-label="New" ng-click="user.groups.new(originalEvent)">
						New Group
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</md-toolbar>
	<md-card-content>
		<ul ng-if="user.groups.list.length" style="list-style: none; padding: 0; margin: 0;">
			<li ng-repeat="group in user.groups.list">
			<div layout="row" layout-align="space-between center">
				<p style="font-weight: bold" ng-click="user.groups.edit($index)">{{ group }}</p>
			</div>
			</li>
		</ul>
		<p ng-if="!user.groups.list.length">{{ "NO_GROUPS" | translate }}</p>
	</md-card-content>
</md-card>
</div>

</div>
